@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.content{
  background: rgb(17, 16, 16);
  color: #fff;

}

.top{
  text-align: center;
  padding-top: 4rem;
}

.row{
  display: flex;
justify-content: center;
margin: 2rem 2rem;
}

.d-flex{
  gap: 4rem;
}

.special{
  font-size: 5rem;
  color: orangered!important;
}

.bottom{
  display: flex;
  background-color: transparent;
  justify-content: left;
 
}
.bottom-one{
  background-image:linear-gradient(to bottom, rgba(28, 21, 32, 0.8), rgba(18, 18, 19, 0.8)), url(https://res.cloudinary.com/dxrxekidt/image/upload/v1688664040/istockphoto-544352270-612x612_jxpi0j.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    flex-basis: 70%;
    gap: 4rem;
    padding: 5rem;
    display: flex;
}
.bottom-two{
  background-image:linear-gradient(to bottom, rgba(28, 21, 32, 0.8), rgba(18, 18, 19, 0.8)), url(https://res.cloudinary.com/dxrxekidt/image/upload/v1688762754/laptop-office-and-business-woman-hands-typing-on-keyboard-for-email-internet-search-or-copywriting-in-marketing-or-social-media-management-producti-2PTB60N_psuzqa.jpg);
  background-position: center;
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  flex-basis: 30%;

}

.bi{
  color:rgb(235, 100, 10);
 font-size:3rem;
}

@media only screen and (max-width: 500px) {

 .items{
  width: 100%;
 }
}
@media only screen and (max-width: 1000px) {
  .items{
    width: 100%;
   }
}
